
<footer>
  <id id="footerlinks">
  <div class="footericons">

    <div>

    <div class="icon"> <a href="#facebook"> <p class="icontxt">Facebook</p> <img src="../images/icons/facebook.png" alt="facebook" > </a> </div>
    <div class="icon"> <a href="#instagram"> <p class="icontxt">Instagram</p><img src="../images/icons/insta.png" alt="instagram"> </a> </div>
    <div class="icon"> <a href="#twitter"> <p class="icontxt">Twitter</p> <img src="../images/icons/twitter.png" alt="twitter"> </a> </div>

</div>
  </div>


    <div id="footerextra"> <p class="footer" style="text-align:center;">Copyright © 1996–2017 Mellow Creek Hotel. All rights reserved.</p></div>

</footer>

  <div id="debug" style="text-align:center;">
    <p class="phpdebug">PHP:</p>
      <?php
    echo '<pre>';
  var_dump($_SESSION);
  echo '</pre>';
     ?><div id="mylog"><p class="phpdebug">Javascript:</p></div></div>
