
<html>
<!--  nav for ADMIN USERS -->

<ul>
  <div id="ulconteent">
  <li><a  href="#occupancy">VIEW WEEKLY OCCUPANCY</a></li>
  <li><a href="viewfeedback.php">VIEW FEEDBACK</a></li>
  <li><a href="viewallusers.php">VIEW AND EDIT ALL USERS</a></li>
  <div class="dropdown" style="float: left;padding: 4px 2px;">
    <button class="dropbtn">REGISTER NEW ACCOUNTS<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
      <a href="register_service.php">Customer Service</a>
      <a href="register_admin.php">Admin</a>
    </div>
  </div>

</div>
  <div class="navright">

  <div class="dropdown">
    <button class="dropbtn"><div class="iconProfile"><img src="../images/icons/profile.png" alt="profile">
    </div><?php echo ''.$_SESSION["Username_manager"].'' ?>
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="../../controller/logout.php">Logout</a>
    </div>
  </div>
</div>
</ul>

<html>
