<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>TP2</title>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>

</head>

<body>

 <script src="javascript.js"></script>


 <input type="submit" onclick="return saveData();" value="OK" data-theme="a" data-corners="false" />
<script type="text/javascript">
function savedata() {
  var input = document.getElementById("autonumero");
  sessionStorage.setItem("autonumero", input.value);
  return true;
}
</script> 

</body>
</html>
